body{
    background-color: #606533;
    background-image: radial-gradient(#969696 2px, #ddceb796 2px);
    background-size: 40px 40px;
    font-family: 'Lora', serif;
    opacity: 0.9;
}

#ukrainian {
    margin-top: 1rem ;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer li a {
    display: flex;
    text-decoration: none;
    color:#2e2828;
    font-size: 18px;
   
}

.footer li{
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0 #c02828 ;
    margin-top: 1rem;
    width: 15rem;
}

.animation a:hover {
    color: rgb(214, 4, 4);
    transition: 0.3s;
}