body {
    background-color: #606533;
    background-image: radial-gradient(#969696 2px, #ddceb796 2px);
    background-size: 40px 40px;
    font-family: 'Lora', serif;
    opacity: 0.9;
}

#italian {
    font-family: 'Lora', serif;
}

#italian .card .card-body .container {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.2rem;
}

#italian .card .card-body .container a {
    font-weight: 800;
}

/*************** HOVER EFFECT ***************/
#italian .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

#italian .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

#italian .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#italian .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

#italian .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

#italian .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 2rem;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

#italian .hovereffect a,
#italian .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

#italian .hovereffect:hover a,
#italian .hovereffect:hover p,
#italian .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#ukrainian {
    margin-top: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer li a {
    display: flex;
    text-decoration: none;
    color: #2e2828;
    font-size: 18px;
}

.footer li {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0 #c02828;
    margin-top: 1rem;
    width: 15rem;
}

.animation a:hover {
    color: rgb(214, 4, 4);
    transition: 0.3s;
}